Thumbs.db
.DS_Store
.texpadtmp/
referensi/
doc.pdf
doc.tex
doc/*/.texpadtmp/
doc/*/*/.texpadtmp/
javadoc/*
/OperasiMatematika/nbproject/private/
/OperasiMatematika/dist/
/OperasiMatematika/build/
/javadoc-to-latex/build/
/javadoc-to-latex/dist/
SIAModels/

OperasiMatematika/
